<% provide(:title, 'About') %>
<% provide(:desc, 'What you can do in this Dashboard?') %>
<ul>
  <li>Track your contributions</li>
  <li>Manage Minutes of Meeting</li>
  <li>All at one place</li>
  <li>Better user management</li>
</ul>
