<% provide(:title, 'Help') %>
<% provide(:desc, 'You can find about the process followed by WCoT here') %>

<div class="steps">
  <div show-hide-trigger="how-to-contribute">
    <h2>How to contribute?</h2>
  </div>
  <div class="hidden" show-hide-elements="how-to-contribute">
    <li>1. Go to your <a href= <%=user_path(current_user)%>>profile</a></li>
    <li>2. Submit your decided contribution for the month</li>
    <li>3. After sending the money<sup><a id="account-details-bookmark" href="#account-details">?</a></sup>, inform the
      <a href= <%= user_path(User.find_by_account_admin(true)) %> class="account-admin">Account Admin</a></li>
    <li>4. Track the status of your contribution by the text color:
      <span contribution-status="submitted">Submitted</span> /
      <span contribution-status="sent">Sent</span></li>
    <li class="alert alert-warning">You cannot edit/delete a contribution. Kindly be cautious!</li>
    <li class="alert alert-info">You can only submit a contribution for the current month</li>
  </div>
</div>

<div class="steps">
  <div show-hide-trigger="account-details">
    <h2>Account Details</h2>
  </div>
  <div id="account-details" class="hidden" show-hide-elements="account-details">
    <div class="row">
      <div class="span4 upi">
        UPI: <strong>hassyyy@upi</strong><br>
        <%= image_tag('UPI.jpeg', :size => "200x200", :id => "upi-qr") %><br>
      </div>
      <div class="span6">
          Bank Account:
          <div class="well bank-account">
            <strong>Account Number:</strong> 500101010445281<br>
            <strong>Bank Name:</strong> City Union Bank<br>
            <strong>Branch Name:</strong> Kattupakkam<br>
            <strong>IFSC Code:</strong> CIUB0000433<br>
            <strong>MICR Code:</strong> 600054084<br>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="steps">
  <h2>Have any doubts/suggestions?</h2>
  <li>Send an email to <strong>nmohamedasan@gmail.com</strong></li>
  <li>Call / WhatsApp to <strong>9043921046</strong></li>
</div>
