<% provide(:desc, 'Home Page') %>
<div class="center hero-unit">
  <h4>Hi there! Signup before <strong>Jan 07, 2018</strong> to be a part of this wonderful journey!<h4>
  <br>
  <%= link_to "Click here to Sign Up", signup_path, class: "btn btn-large btn-primary" %>
</div>
