<% provide(:desc, 'Home Page') %>
<div class="center hero-unit">
  <h4>Welcome to WCoT<h4>
  <!-- <h4>Hi there! Signup before <strong>Jan 07, 2018</strong> to be a part of this wonderful journey!<h4>
  <br> -->
  <!-- <%= link_to "Click here to Sign Up", signup_path, class: "btn btn-large btn-primary" %> -->

  <div>
    Overall Contributions =  <span class="badge contribution-total">Rs.<%= Contribution.where(:status => "sent").sum(:value) %></span>
  </div>

</div>

<% @current_contributions = Contribution.where(:month => Date.today.strftime("%b"), :year => Date.today.strftime("%Y")) %>

<% if @current_contributions.length > 0 %>
    <h2> Recent contributions in this month </h2>
<% end %>
<ol class="current_contributions">
  <%= render partial: 'shared/current_contribution', collection: @current_contributions %>
</ol>
