<div id="all-donations">
  <% if Donation.sum(:value) == 0 %>
  <div class="alert alert-danger">
    No donations found!
  </div>
  <% else %>
    <ol class="donations-list">
      <%= render partial: 'shared/donation', collection: @donations %>
      <%= will_paginate @donations %>
    </ol>
  <% end %>

</div>
