<div id="all-donations">
  <% if @donations.any? %>
    <h4 class="center" id="donations-year-total">
      Total Donations :  <span class="badge donations-total">Rs.<%= @donations.sum(:value) %></span>
    </h4>
    <ol class="donations-list">
      <%= render partial: 'shared/donation', collection: @donations %>
    </ol>
  <% else %>
    <div class="alert alert-danger" id="not-found">
      No donations found in the selected year!
    </div>
  <% end %>
</div>
