<div id="monthly_contributions">
  <% if @contributions_of_month.length == 0 %>
  <div class="alert alert-danger">
    No contributions found in the selected month!
  </div>
  <% else %>
    <h4 class="center" id="contributions-month-total">
      Total Contributions =  <span class="badge contribution-total">Rs.<%= @total_contributions_of_month %></span>
    </h4>

    <ol class="monthly_contributions">
      <%= render partial: 'shared/contribution_in_a_month', collection: @contributions_of_month %>
    </ol>
  <% end %>

</div>
