<li>
  <%= link_to resource.name, resource %><br>
  <%= resource.contact_details %>
  <% if current_user.account_admin? %>
    <%= link_to image_tag("Delete.png", :size => "25x25", alt: "Delete"), resource, method: :delete,
                                            class: "delete-button",
                                            data: { confirm: "You sure?" } %>
    <%= link_to image_tag("Edit.png", :size => "25x25", alt: "Edit"), edit_resource_path(resource),
                                            class: "edit-button" %>
  <% end %>
</li>
