<footer class="footer">
  <div class="wrap">
    <div id="logo-expanded">
        <%= link_to image_tag("wcot_expanded.png", alt: "WCoT", style: 'width:250px;margin-top:5px;margin-bottom:10px;'), '#' %>
    </div>
    <div id="developer">
      Developed by
      <a href="https://github.com/hassyyy" target="_blank">Mohamed Asan N</a>
    </div>
  </div>
</footer>
